---
import { t, changeLanguage } from "i18next";
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

changeLanguage("en");
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t("CV.title")}
    </div>
  </div>

  <div class="mb-10 text-justify">
    {t("CV.summary")}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t("CV.timeline_title")}
    </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t("CV.timeline_element_title_1")}
      subtitle={t("CV.timeline_element_title_1_sub")}
      items={[t("CV.timeline_element_1_item_1")]}
    />
    <TimeLineElement
      title={t("CV.timeline_element_title_2")}
      subtitle={t("CV.timeline_element_subtitle_2")}
      items={[
        t("CV.timeline_element_2_item_1"),
        t("CV.timeline_element_2_item_2"),
      ]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t("CV.experience")}
    </div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title={t("CV.timeline_title_2")}
      subtitle={t("CV.timeline_element_title_2_sub")}
      items={[
        t("CV.timeline_element_3_item_1"),
        t("CV.timeline_element_3_item_2"),
        t("CV.timeline_element_3_item_3"),
        t("CV.timeline_element_3_item_4"),
        t("CV.timeline_element_3_item_5"),
        t("CV.timeline_element_3_item_6"),
        t("CV.timeline_element_3_item_7"),
        t("CV.timeline_element_3_item_8"),
        t("CV.timeline_element_3_item_9"),
        t("CV.timeline_element_3_item_10"),
        t("CV.timeline_element_3_item_11"),
      ]}
    />
    <TimeLineElement
      title={t("CV.timeline_title_3")}
      subtitle={t("CV.timeline_element_title_3_sub")}
      items={[
        t("CV.timeline_element_4_item_1"),
        t("CV.timeline_element_4_item_2"),
        t("CV.timeline_element_4_item_3"),
        t("CV.timeline_element_4_item_4"),
        t("CV.timeline_element_4_item_5"),
        t("CV.timeline_element_4_item_6"),
        t("CV.timeline_element_4_item_7"),
        t("CV.timeline_element_4_item_8"),
        t("CV.timeline_element_4_item_9"),
      ]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t("CV.certifications")}
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://learndigital.withgoogle.com/activate/validate-certificate-code"
        target="_blank"
      >
        {t("CV.certifications_title_1")} Credential ID: MPG WS6 8JK
      </a>
    </li>
    <li>
      <a
        href="https://learndigital.withgoogle.com/activate/validate-certificate-code"
        target="_blank"
      >
        {t("CV.certifications_title_2")} Credential ID: DET 96H 9BG
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1749-gestion-tiempo/diploma/detalle/"
        target="_blank"
      >
        {t("CV.certifications_title_3")}
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1814-basico-javascript/diploma/detalle/"
        target="_blank"
      >
        {t("CV.certifications_title_4")}
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/2356-creacion-habitos/diploma/detalle/"
        target="_blank"
      >
        {t("CV.certifications_title_5")}
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1446-liderazgo-empresarial/diploma/detalle/"
        target="_blank"
      >
        {t("CV.certifications_title_6")}
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1869-typescript-2020/diploma/detalle/"
        target="_blank"
      >
        {t("CV.certifications_title_7")}
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/2467-frontend-developer/diploma/detalle/"
        target="_blank"
      >
        {t("CV.certifications_title_8")}
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/2327-javascript-practico-2021/diploma/detalle/"
        target="_blank"
      >
        {t("CV.certifications_title_9")}
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t("CV.skills")}
    </div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>Typescript</li>
    <li>React Native</li>
    <li>React</li>
    <li>Autoit</li>
    <li>C#</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>AWS, Heroku</li>
    <li>Linux</li>
    <li>VPS Management</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Notion</li>
    <li>Canva</li>
    <li>Scrum</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  </ul>
</BaseLayout>
