---
import { changeLanguage } from "i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";

changeLanguage("es");
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">SUMMARY</div>
  </div>

  <div class="mb-10 text-justify">
    Dedicated and focused Project Management Specialist with over 3 years of
    experience excelling at prioritizing, completing multiple tasks
    simultaneously and following through to achieve project goals. Flexible,
    detail-oriented and adaptive team player with expertise in equipment
    operation, staff training and development, customer service and process
    improvements. Strategic Software Engineer skilled in application
    development, testing and optimization. Excels at coordinating ground-up
    planning, programming and implementation for core modules. Maintains strong
    object- oriented and software architecture fundamentals. Detailed Mobile
    Application Developer with 3 years of experience programming in React Native
    and React language to build innovative programs. User-experience- oriented
    developer with collaborative mindset. Inspired interface engineer with
    creative solutions to consumer problems.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">EDUCATION AND TRAINING</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Automation Engineer"
      subtitle="2010 to 2012 Universidad Marta Abreu de las Vilas, Santa Clara, Cuba."
      items={["I coursed two years at Automation Engineering."]}
    />
    <TimeLineElement
      title="Civil Engineer"
      subtitle="2016 to 2021 Universidad de Camaguey, Cuba."
      items={[
        "On April 2021 participate in the 4th national workshop on quality and organization of works in construction.",
        "On May 2021 Speaker on the 1st International Meeting of Civil Engineering Students.",
      ]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">EXPERIENCE</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Project manager - Software Engineer"
      subtitle="06/2020 to Current on D'McPherson"
      items={[
        "Built and established strong partnerships with teams, vendors and contractors.",
        "Created and maintained the project management system for the DMcPherson Publishing House.",
        "Created project plans with established timelines, assigned to appropriate teams and managed workflow throughout construction.",
        "Led meetings with internal team members, consultants and contractors.",
        "Developed solutions to project risks and issues, meeting quality and timeline goals and objectives.",
        "Designed user-friendly software interfaces to simplify overall management.",
        "Participated and contributed to best practices to drive software development lifecycle.",
        "Managed website updates to align with corporate needs. Completed continuous project and team reviews to maintain optimal productivity and quality of work.",
        "Developed production, test and beta websites using various software programs.",
        "Conducted full lifecycle software development from planning to deployment and maintenance.",
        "Modified company web applications and processes to increase productivity.",
        "Analyzed and tested applications prior to launch to remedy last minute issues.",
        "Utilized various software to handle debugging and automation scripting tasks.",
        " Designed mobile applications for Apple and Android platforms.",
      ]}
    />
    <TimeLineElement
      title="Cell Phone Repair Technician"
      subtitle=" 03/2014 to 12/2020 Self Employed Services"
      items={[
        "Checked cell phones for signs of fraud and compatibility with refurbishment.",
        "Performed complete phone erasures and factory resets, debugged problems and refurbished devices.",
        "Completed new OS installations on phones, tablets and laptops.",
        "Tested repaired, newly installed or updated equipment to drive proper function and conformance to specifications.",
        "Installed, set up and repaired devices and system components.",
        "Demonstrated equipment to customers and explained use, responding to inquiries or complaints.",
        "Handled multiple simultaneous deployment projects against strict deadlines.",
        "Provided excellent service and attention to customers when face-to-face or through phone conversations.",
        "Collaborated with others to discuss new opportunities.",
      ]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">CERTIFICATIONS</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://learndigital.withgoogle.com/activate/validate-certificate-code"
        target="_blank"
      >
        Google Actívate - On Line. Protect Your Business: Cybersecurity in
        Teleworkin, 01/2023. Credential ID: MPG WS6 8JK
      </a>
    </li>
    <li>
      <a
        href="https://learndigital.withgoogle.com/activate/validate-certificate-code"
        target="_blank"
      >
        Google Actívate - On Line. Cloud Computing, 01/2023. Credential ID: DET
        96H 9BG
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1749-gestion-tiempo/diploma/detalle/"
        target="_blank"
      >
        Platzi - On Line. Gestión Efectiva del Tiempo, 11/2021.
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1814-basico-javascript/diploma/detalle/"
        target="_blank"
      >
        Platzi - On Line. Curso Básico de JavaScript, 12/2021.
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/2356-creacion-habitos/diploma/detalle/"
        target="_blank"
      >
        Platzi - On Line. Curso para Crear Hábitos Positivos, 01/2022.
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1446-liderazgo-empresarial/diploma/detalle/"
        target="_blank"
      >
        Platzi - On Line. Curso de Liderazgo Empresarial, 01/2022.
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/1869-typescript-2020/diploma/detalle/"
        target="_blank"
      >
        Platzi - On Line. TypeScript 3, 05/2022.
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/2467-frontend-developer/diploma/detalle/"
        target="_blank"
      >
        Platzi - On Line. Curso de Frontend Developer, 06/2022.
      </a>
    </li>
    <li>
      <a
        href="https://platzi.com/p/kdryere1314286/curso/2327-javascript-practico-2021/diploma/detalle/"
        target="_blank"
      >
        Platzi - On Line. Curso Práctico de JavaScript, 06/2022.
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">SKILLS</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>Typescript</li>
    <li>React Native</li>
    <li>React</li>
    <li>Autoit</li>
    <li>C#</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>AWS, Heroku</li>
    <li>Linux</li>
    <li>VPS Management</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Notion</li>
    <li>Canva</li>
    <li>Scrum</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  </ul>

</BaseLayout>
